{% extends "obwob/layout.html" %}

{% block body %}
<h2>Questions for: {{ event }}</h2>
{% if questions %}
    <ul>
    {% for question in questions %}
        <li>{{ question }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions yet for this event.</p>
{% endif %}

    <form action="{% url 'obwob:response' question.id %}" method="post">
    {% csrf_token %} <!--template tag - protection against cross site request forgeries-->
    <fieldset>
        <legend><h1>{{ question.text }}</h1></legend>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>>
        {% endif %}
        {% for question in questions %}
            <input type="text" name="question" id="question{{ forloop.counter }}" value="{{ question.id }}">
            <label for="question{{ forloop.counter }}">{{ question.text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="response">
    </form>

{% endblock %}